 
<!doctype html>
<html>
  <head>
    <title>Meadowlark Travel</title>
 
        {{{_sections.head}}}
  </head>
  <heder>
        <img src="/img/logo.jpg" alt="Logo Meadowlark Travel">
   
  </heder>
  <body>
    {{{body}}}
   {{{_sections.scripts}}}
  </body>
</html>