 
<!doctype html>
<html>
  <head>
    <title>Meadowlark Travel</title>
  </head>
  <heder>
        <img src="/img/logo.jpg" alt="Logo Meadowlark Travel">
  </heder>
  <body>
    {{{body}}}
  </body>
</html>